.center {
  display: flex;
  justify-content: center;
}

.border {
  border: 2px solid blue;
}

.backgroundImage {
  background-image:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Cape_may.jpg/500px-Cape_may.jpg');
  background-size: cover;
  height: 800px;
}
